encryption = "age"

[age]
  identity  = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient = "age1rmqs586clz5dxgyrr47k2mf6nyysannrysj0z5mntp9paf5grfrssavkps"

[data]
  name  = "Rajiv Geraev"
  email = "rajiv.geraev@gmail.com"
